@charset "utf-8";
/* === Normal Button === */

.btn-text {
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-big {
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
	height: 44px;
	line-height: 44px;
}

.btns {
	text-align: center;
	padding-top: 15px;
	margin-top: 15px;
	border-top: #e0e0e0 solid 1px;
}

.btn-space {
	display: inline-block;
	width: 20px;
}

.btn-wrapper {
	width: auto;
	margin-left: 321px;
	padding: 7px 40px 7px 20px;
	background: #fff;
}

.btn-wrapper * {
	vertical-align: middle;
}

.btn-group {
	height: 34px;
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
	border-right: #e0e0e0 solid 1px;
	margin-bottom: 7px;
}

.btn {
	display: inline-block;
	width: 34px;
	height: 32px;
	line-height: 34px;
	cursor: pointer;
	border: #fff solid 1px;
	background-color: #fff;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: 100px 100px;
}


.btn-group:last-child {
	margin-right: none;
	padding-right: none;
	border: none;
}

.btn:hover {
	border: #e0e0e0 solid 1px;
	border-radius: 2px;
}

.btn[class~=disabled] {
	opacity: 0.5;
}

.btn[class~=on] {
	background-color: #f0f0f0;
	border: #e0e0e0 solid 1px;
	border-radius: 2px;
}

/* === Icons === */

.listbox {
	display: inline-block;
	font-size: 16px;
	width: 20px;
	color: #1eaaf1;
	padding-left: 6px;
	padding-right: 20px;
	width: 28px;
	line-height: 34px;
	overflow: hidden;
	background: url(../images/icons.png) no-repeat 0px -96px;
	text-align: center;
}

.font-color {
	display: inline-block;
	vertical-align: top;	
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	padding: 2px 5px;
	color: #ffff00;
	background: #0000ff;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 2px;
}

.icon-undo {
	background-position: 0px 0px;
}

.icon-redo {
	background-position: -34px 0px;
}

.icon-bold {
	background-position: -68px 0px;
}

.icon-italic {
	background-position: -102px 0px;
}

.icon-underline {
	background-position: -136px 0px;
}

.icon-strike {
	background-position: -170px 0px;
}

.icon-superscript {
	background-position: -204px 0px;
}

.icon-subscript {
	background-position: -238px 0px;
}

.icon-clear {
	background-position: -272px 0px;
}

.icon-brush {
	background-position: -306px 0px;
}

.icon-align-left {
	background-position: 0 -32px;
}

.icon-align-center {
	background-position: -34px -32px;
}

.icon-align-right {
	background-position: -68px -32px;
}

.icon-align-justify {
	background-position: -102px -32px;
}

.icon-indent-right {
	background-position: -136px -32px;
}

.icon-indent-left {
	background-position: -170px -32px;
}

.icon-list-number {
	background-position: -204px -32px;
}

.icon-list-bullet {
	background-position: -238px -32px;
}

.icon-list-check {
	background-position: -272px -32px;
}

.icon-image {
	background-position: -306px -32px;
}

.icon-table {
	background-position: 0 -64px;
}

.icon-comment-add {
	background-position: -34px -64px;
}

.icon-microphone {
	background-position: -68px -64px;
}

.icon-add-col-left {
	background-position: -102px -64px;
}

.icon-add-col-right {
	background-position: -136px -64px;
}

.icon-add-row-above {
	background-position: -170px -64px;
}

.icon-add-row-below {
	background-position: -204px -64px;
}

.icon-remove-col {
	background-position: -238px -64px;
}

.icon-remove-row {
	background-position: -272px -64px;
}

.icon-share {
	background-position: -306px -64px;
}

.icon-back {
	background-position: -68px -96px;
}

.icon-screen-full {
	background-position: -102px -96px;
}

.icon-screen-split {
	background-position: -136px -96px;
}

.icon-link {
	background-position: -170px -96px;
}

.icon-link-access {
	background-position: -204px -96px;
}

.icon-link-edit {
	background-position: -238px -96px;
}

.icon-link-remove {
	background-position: -272px -96px;
}

.icon-textbox-single {
	background-position: 0 -128px;
}

.icon-textbox-multi {
	background-position: -34px -128px;
}

.icon-droplist {
	background-position: -68px -128px;
}

.icon-checkbox {
	background-position: -102px -128px;
}

.icon-radiobutton {
	background-position: -136px -128px;
}

.icon-title {
	background-position: -170px -128px;
}

.icon-description {
	background-position: -204px -128px;
}

.icon-form-new {
	background-position: -238px -128px;
}

.icon-remove {
	background-position: -272px -128px;
}

.icon-binary {
	background-position: 0 -160px;
}

.icon-spreadsheet {
	background-position: -34px -160px;
}

/* === Black Buttons === */

.btn-black {
	background-color: #333;
	border-color: #333;
}

.btn-black:hover {
	border: #444 solid 1px !important;
	border-radius: 2px;
}

.icon-bold-black {
	background-position: -68px -256px;
}

.icon-italic-black {
	background-position: -102px -256px;
}

.icon-underline-black {
	background-position: -136px -256px;
}

.icon-strike-black {
	background-position: -170px -256px;
}

.icon-superscript-black {
	background-position: -204px -256px;
}

.icon-subscript-black {
	background-position: -238px -256px;
}

.icon-clear-black {
	background-position: -272px -256px;
}

.icon-brush-black {
	background-position: -306px -256px;
}

.icon-comment-add-black {
	background-position: -34px -320px;
}

.icon-link-access-black {
	background-position: -204px -352px;
}

.icon-link-edit-black {
	background-position: -238px -352px;
}

.icon-link-remove-black {
	background-position: -272px -352px;
}
