@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	background: #f0f0f0;
	background-size: cover;
	overflow: hidden;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;	
	height: 100%;
}
.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 10px 30px 30px 30px;
	overflow: auto;
}

/* === Red === */

.warning {
	color: #ff7200 !important;
}

/* === Nav === */

#nav-wrapper {
	position: fixed;
	right: 15px;
	top: 10px;
	width: 40px;
	height: 260px;
	z-index: 500;
}

#nav-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.nav {
	color: #05b2d2;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border: #e0e0e0 solid 1px;
	border-radius: 20px;
	background: #fff;
	text-align: center;
	cursor: pointer;
	position: fixed;
	top: 10px;
}

#nav-menu {
	background: url(../images/headshot.jpg) no-repeat center center;
	border: none;
	background-size: 40px 40px;
}

.nav span {
	color: #05b2d2;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	display: block;
	left: -90px;
	top: 2px;
	width: 80px;
	text-align: right;
	display: none;
	word-spacing: 0;
}

.nav:hover {
	border: #e6685b solid 1px; 
	color: #e6685b;
	background: #fff;
}

.nav:hover span {
	display: inline;
	color: #e6685b;
}

#nav-newfile, #nav-newfolder, #nav-setting, #nav-exit {
	display: none;
	opacity: 0;
}

/* === File === */

.file {
	border-radius: 8px;
	width: 210px;
	height: auto;
	margin: 0 20px 40px 0;
	float: left;
	position: relative;
	cursor: pointer;
}

.file-add {
	width: 210px;
	height: 320px;
	background: url(../images/add.png) no-repeat center center;
	cursor: pointer;
	border: #e0e0e0 solid 1px;
	border-radius: 8px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	overflow: hidden;
}

.file-add-on {
	width: 210px;
	height: 320px;
	border: #666 solid 1px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	margin-top: 340px;
	margin-left: -1px;
}

.file-preview {
	color: #333;
	background: #ffffff;
	border: #e0e0e0 solid 1px;
	border-radius: 8px;
	padding: 10px;
	width: auto;
	height: 298px;
	overflow: hidden;
	position: relative;
}

.file-preview h1 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 1em;
}

.file-preview h2 {
	font-size: 13px;
	font-weight: 200;
	margin-bottom: 1em;
}

.file-preview h3 {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
}

.file-preview p {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
	text-indent: 2em;
}

.file-preview a {
	color: #05b2d2;
}

.file-preview li {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
	list-style: none;
}

.file-preview .share-info {
	color: rgba(0, 0, 0, 0.3);
	position: absolute;
	width: 200px;
	top: 210px;
	left: 50%;
	margin-left: -100px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
}

.file-preview .icon-share {
	color: rgba(0, 0, 0, 0.3);
	display: inline-block;
	font-weight: 100;
	font-size: 72px;
	width: 80px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	top: 130px;
	margin-left: -40px;
}

.file-info {
	margin-top: 5px;
}

.file-info * {
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}

.file-star {
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	background: url(../images/file-star.png) no-repeat top center;
}

.file-star-on {
	background-position: bottom center;
}

.file-name {
	display: inline-block;
	color: #666;
	font-size: 14px;
	width: 160px;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
}

.file-name:focus {
	color: #fff;
	background: #067ab5;
	border-radius: 4px;
}

.file-barcode {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/file-barcode.png) no-repeat center top;
}

.file-wechat {
	margin-left: 5px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	color: #00d20d;
	font-size: 20px;
}

.file-wechat:hover {
	color: #e6685b;
}

.file-barcode:hover {
	background-position: center bottom;
}

.file-time {
	color: #999;
	margin-top: 8px;
	font-size: 12px;
	font-weight: 100;
	width: auto;
	padding: 0 4px;
}

/* === File Menu === */

.file-menu {
	position: absolute;
	right: 10px;
	bottom: 62px;
	display: none;
}

.file-menu-on {
	background-color: #05b2d2;
	width: auto;
	height: auto;
	padding-bottom: 23px;
}	

.file-menu-on:hover {
	background-color: #05b2d2;
}

.file-options {
	display: none;
	padding: 5px;
	-moz-user-select: none;
}

.file-options li {
	margin: 0;
	list-style: none;
	font-size: 12px;
	padding: 2px;
}

.file-options li a {
	font-size: 12px;
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

.file-options li:hover {
	background: #e6685b;
	border-radius: 2px;
}

.file-pin {
	width: 18px;
	height: 26px;
	position: absolute;
	top: -20px;
	left: 100px;
	cursor: pointer;
	background: url(../images/pin.png) no-repeat;
}

/* === Buttons === */

.btn {
	display: inline-block;
	font-size: 20px;
	border: #e0e0e0 solid 1px;
	border-radius: 4px;
	color: #05b2d2;
	background: #fff;
	min-width: 30px;
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	border: #e6685b solid 1px;
	color: #e6685b;
}

.btn-newfile {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 110px;
}

.btn-importfile {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 110px;
}

/* === Folder === */

.folder {
	height: 320px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.folder .share-info {
	position: absolute;
	width: 200px;
	top: 210px;
	left: 50%;
	margin-left: -100px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
}

.folder .icon-share {
	display: inline-block;
	font-weight: 100;
	font-size: 72px;
	width: 80px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	top: 130px;
	margin-left: -40px;
}

.folder-yellow {
	background: url(../images/folder-yellow.png);
}

.folder-yellow-empty {
	background: url(../images/folder-yellow-empty.png);
}

.folder-yellow *, .folder-yellow-empty * {
	color: #d7a62b;
}

.folder-red {
	background: url(../images/folder-red.png);
}

.folder-red-empty {
	background: url(../images/folder-red-empty.png);
}

.folder-red *, .folder-red-empty * {
	color: #be4033;
}

.folder-blue {
	background: url(../images/folder-blue.png);
}

.folder-blue-empty {
	background: url(../images/folder-blue-empty.png);
}

.folder-blue *, .folder-blue-empty * {
	color: #2799c1;
}

.folder-green {
	background: url(../images/folder-green.png);
}

.folder-green-empty {
	background: url(../images/folder-green-empty.png);
}

.folder-green *, .folder-green-empty * {
	color: #78ac40;
}

.folder-purple {
	background: url(../images/folder-purple.png);
}

.folder-purple-empty {
	background: url(../images/folder-purple-empty.png);
}

.folder-purple *, .folder-purple-empty * {
	color: #846ac4;
}

.folder-cyan {
	background: url(../images/folder-cyan.png);
}

.folder-cyan-empty {
	background: url(../images/folder-cyan-empty.png);
}

.folder-cyan *, .folder-cyan-empty * {
	color: #20a785;
}

/* === Text Align === */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	text-indent: 0;
}

.text-right {
	text-align: right;
}

/* === Dialog === */

.dialog-mark {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	display: none;
	z-index: 999;
}

.dialog {
	width: 400px;
	height: auto;
	position: absolute;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -90px;	
	background: #fff;
	border: #e0e0e0 solid 1px;
	border-radius: 8px;
}

.dialog .dialog-header {
	background: #f0f0f0;
	border-bottom: #e0e0e0 solid 1px;
	border-radius: 8px 8px 0 0;
	padding: 10px 20px;
	font-size: 14px;
	color: #333;
}

.dialog .dialog-footer {
	padding-bottom: 20px;
	text-align: center;
}

.dialog .dialog-header {
	padding: 10px;
}

.dialog .dialog-body {
	color: #333;
	font-size: 16px;
	padding: 40px 20px;
}

.dialog .dialog-footer .btn {
	display: inline-block;
	vertical-align: middle;
	background: #05b2d2;
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	margin-right: 20px;
	padding: 10px 30px;
	cursor: pointer;
}

.dialog .dialog-footer .btn:hover {
	background-color: #e6685b;
}

.dialog .dialog-footer .btn-red {
	background-color: #e6685b;
}

.dialog .dialog-footer .btn-last {
	margin: 0;
}

.dialog .dialog-close {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
	color: #05b2d2;
	cursor: pointer;
}

.dialog .dialog-close:hover {
	color: #e6685b;
}

/* === Search === */

#search-wrapper {
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

#search-wrapper * {
	vertical-align: middle;
}

#logo {
	display: inline-block;
	width: 120px;
	height: 29px;
	background: url(../images/name.png) no-repeat center center;
}

#search-wrapper .input {
	color: #333;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width: 205px;
	padding: 0 10px;
	border: #e0e0e0 1px solid;
	border-radius: 4px;
	outline: none;
	vertical-align: middle;
}

#search-wrapper .btn {
	margin-left: 5px;
}

/* === Loading === */

#loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1000;
}

#loading #loading-bg {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	background: url(../images/loading-bg.png) no-repeat center center;
}

#loading #loading-animation {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	background: url(../images/loading.gif) no-repeat center center;
}