@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	outline: none;
}

html {
	background: #f0f0f0;
	background-size: cover;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;	
	font-weight: 100;
	height: 100%;
}

body {
	height: 100%;
}

.body-white {
	background: #fff;
}

.clear {
	clear: both;
}

.input {
	color: #333;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;	
	font-size: 16px;
	height: 28px;
	line-height: 30px;
	width: 205px;
	padding: 0 10px;
	border: #e0e0e0 1px solid;
	border-radius: 4px;
	vertical-align: middle;
}

.input-file {
	color: #333;
	font-size: 16px;
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;	
	font-weight: 100;

}

.warning {
	color: #ff7200 !important;
}

.no-padding {
	padding: 0 !important;
}

/* === Header === */

#header {
	height: 48px;
	background: #fff;
	border-bottom: #e0e0e0 solid 1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#header * {
	vertical-align: middle;
}

/* === Index === */

.bg {
	background: url(../images/bg.jpg) center center;
	background-size: cover;
	height: 100%;
}

.animation {
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
	overflow: visible;
	position: relative;
}

.animation span {
	display: inline-block;
}

#animation-cursor {
	position: absolute;
	display: inline-block;
	top: -35px;
	bottom: 0;
	width: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

#animation-cursor #animation-name {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 4px 3px;
	display: block;
	top: 0;
	left: 0;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding-left: 35px;
	padding-right: 5px;
	font-size: 16px;
	white-space: nowrap;
}

.qr-wrapper {
	text-align: center;
	font-size: 16px;
	position: fixed;
	top: 50%;
	width: 100%;
	margin-top: -185px;
	background: url(../images/bg-qr.png) no-repeat center 120px;
	color: #1eaaf0;
}

.qr {
	height: 140px;
	background: url(../images/qrcode.png) no-repeat center center;
	background-size: 140px 140px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.qr-wrapper .slogan {
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
}

#thankyou {
	position: absolute;
	background: #fff url(../images/traffic-cone.png) no-repeat center top;
	padding-top: 160px;
	top: 50%;
	left: 50%;
	margin-left: -230px;
	margin-top: -110px;	
	text-align: center;
	min-width: 460px;
}

#thankyou h1 {
	color: #666;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 1em;
}

#thankyou p {
	width: 460px;
	font-size: 14px;
	color: #888;
}

/* === Header === */

#body {
	position: fixed;
	top: 49px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 30px 20px 0 20px;
	background: #f0f0f0;
}

/* === Nav === */

#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: #fff;
}

#nav .logo {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 30px;
	width: 320px;
	height: 48px;
	border-right: #e0e0e0 solid 1px;
	float: left;
	position: relative;
	cursor: pointer;
}

/* === Log === */

#log-wrapper {
	position: absolute;
	left: 0;
	top: 48px;
	width: 320px;
	bottom: 0;
	overflow: auto;
	background: #f0f0f0;
	border-top: #e0e0e0 1px solid;
	border-right: #e0e0e0 solid 1px;
	overflow: auto;
}

.log {
	font-size: 10px;
	color: #333;
	margin: 20px;
}

.log strong {
	color: #1eaaf0;
	cursor: pointer;
}

.log strong:hover {
	color: #f23749;
}

.log .detail {
	margin: 10px;
	padding: 10px;
	background: #fff;
	border: #e0e0e0 solid 1px;
	border-radius: 4px;
}

.log .detail p {
	margin-bottom: 1em;
}

/* === Comment === */

.comment-group {
	background: #ffffe0;
	border: #e0e0e0 solid 1px;
	border-radius: 4px;
	margin: 20px;
	position: relative;
	cursor: pointer;
}

.comment-group-actived {
	border-color: #f23749;
}

.comment {
	font-size: 10px;
	color: #333;
	margin: 10px;
}

.comment .user, .comment .quote {
	color: #1eaaf0;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.comment .user:hover, .comment .quote:hover {
	color: #f23749;
}

.comment-group .time {
	margin: 10px;
	color: #ccc;
	font-size: 10px;
	font-style: italic;
}

.comment-add {
	padding: 0 10px 10px 10px;
	display: none;
}

.comment-add * {
	vertical-align: middle;
}

.comment-add .input {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	width: 200px;
	padding: 0 5px;
	border: #e0e0e0 1px solid;
	border-radius: 4px;
}

/* === Editor === */

#editor-wrapper {
	background: #f0f0f0;
	width: auto;
	position: absolute;
	left: 321px;
	top: 90px;
	right: 0;
	bottom: 0;
	border-top: #e0e0e0 1px solid;
	overflow: auto;
}

/* === Page === */

.page {
	margin: 40px auto;
	color: #262626;
	font-weight: 100;
	background: #fff;
	padding: 2em;
	width: 80%;
	max-width: 800px;
	border: #e0e0e0 solid 1px;
	border-radius: 4px;
	line-height: 1.4em;
}
.page p {
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 1em;
	text-indent: 2em;
	text-align: left;
}
.page h1 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: center;
}
.page h2 {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: center;
}
.page h3 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 1em;
	text-align: center;
}

/* === Btn === */

.btn-screen-full {
	position: absolute;
	top: 7px;
	left: 273px;
}

.btn-screen-split {
	position: absolute;
	top: 7px;
	left: 10px;
}

.btn-back {
	position: absolute;
	top: 7px;
	left: 10px;
}

.btn-upgrade {
	position: absolute;
	top: 7px;
	right: 10px;
}

/* === Mark === */

.mark {
	padding: 0 4px;
	margin: 0 4px;
}

.mark-red {
	border: #f00 solid 1px;
	background: #fdd;
}

.mark-green {
	border: #0f0 solid 1px;
	background: #dfd;
}

.mark-blue {
	border: #00f solid 1px;
	background: #ddf;
}

.mark-yellow {
	border: #ff0 solid 1px;
	background: #ffd;
}

.mark-comment {
	background: #ffffe0;
}

.mark-comment-actived {
	border: #f23749 solid 1px;
}

/* === File === */

.file {
	width: 150px;
	height: 230px;
	margin: 0 20px 60px 0;
	float: left;
	position: relative;
	cursor: pointer;
	background-repeat: no-repeat;
}

.file-add {
	width: 150px;
	height: 230px;
	background: url(../images/add.png) no-repeat center center;
	cursor: pointer;
	border: #e0e0e0 solid 1px;
	border-radius: 8px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	overflow: hidden;
}

.file-add-on {
	width: 210px;
	height: 320px;
	border: #666 solid 1px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	margin-top: 340px;
	margin-left: -1px;
}

.file-preview {
	color: #333;
	height: 130px;
	height: 210px;
	padding: 10px;
	background: url(../images/folders.png) no-repeat -600px -230px;
	background-position: -600px -230px;
	overflow: hidden;
	position: relative;
}

.file-preview h1 {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 1em;
}

.file-preview h2 {
	font-size: 13px;
	font-weight: 200;
	margin-bottom: 1em;
}

.file-preview h3 {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
}

.file-preview p {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
}

.file-preview a {
	color: #1eaaf0;
}

.file-preview li {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 1em;
	list-style: none;
}

.file-preview .share-info {
	color: rgba(0, 0, 0, 0.3);
}

.file-preview .icon-share {
	color: rgba(0, 0, 0, 0.3);
}

.file-info {
	margin-top: 5px;
}

.file-info * {
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}

.file-star {
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	background: url(../images/file-star.png) no-repeat top center;
}

.file-star-on {
	background-position: bottom center;
}

.file-name {
	display: inline-block;
	color: #666;
	font-size: 14px;
	width: 130px;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
}

.file-name:focus {
	color: #fff;
	background: #067ab5;
	border-radius: 4px;
}

.file-barcode {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/file-barcode.png) no-repeat center top;
}

.file-wechat {
	margin-left: 5px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background-size: 24px 24px;
	color: #00d20d;
	font-size: 14px;
}

.file-wechat:hover {
	color: #f23749;
}

.file-barcode:hover {
	background-position: center bottom;
}

.file-time {
	color: #333;
	margin-top: 8px;
	font-size: 12px;
	font-weight: 100;
	width: auto;
}

/* === File Menu === */

.file-menu {
	position: absolute;
	right: 10px;
	bottom: 62px;
	display: none;
}

.file-menu-on {
	background-color: #1eaaf0;
	width: auto;
	height: auto;
	padding-bottom: 23px;
}	

.file-menu-on:hover {
	background-color: #1eaaf0;
}

.file-options {
	display: none;
	padding: 5px;
}

.file-options li {
	margin: 0;
	list-style: none;
	font-size: 12px;
	padding: 2px;
}

.file-options li a {
	font-size: 12px;
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

.file-options li:hover {
	background: #f23749;
	border-radius: 2px;
}

.file-pin {
	width: 18px;
	height: 26px;
	position: absolute;
	top: -20px;
	left: 60px;
	cursor: pointer;
	background: url(../images/pin.png) no-repeat;
}

/* === Buttons === */

.btn-newfile {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 110px;
}

.btn-importfile {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 110px;
}

/* === Folder === */

.folder {
	height: 230px;
	background-image: url(../images/folders.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.share-info {
	position: absolute;
	width: 150px;
	top: 180px;
	left: 50%;
	margin-left: -75px;
	font-size: 16px;
	font-weight: 100;
	text-align: center;
}

.folder-yellow {
	background-position: 0 -230px;
}

.folder-yellow-empty {
	background-position: -150px -230px;
}

.folder-yellow *, .folder-yellow-empty * {
	color: #d7a62b;
}

.folder-red {
	background-position: -300px -230px;
}

.folder-red-empty {
	background-position: -450px -230px;
}

.folder-red *, .folder-red-empty * {
	color: #be4033;
}

.folder-blue {
	background-position: -300px 0px;
}

.folder-blue-empty {
	background-position: -450px 0px;	
}

.folder-blue *, .folder-blue-empty * {
	color: #2799c1;
}

.folder-green {
	background-position: -900px 0px;	
}

.folder-green-empty {
	background-position: -1050px 0px;
}

.folder-green *, .folder-green-empty * {
	color: #78ac40;
}

.folder-purple {
	background-position: 0 0px;
}

.folder-purple-empty {
	background-position: -150px 0px;
}

.folder-purple *, .folder-purple-empty * {
	color: #846ac4;
}

.folder-cyan {
	background-position: -600px 0px;
}

.folder-cyan-empty {
	background-position: -750px 0px;
}

.folder-cyan *, .folder-cyan-empty * {
	color: #20a785;
}

/* === Form === */

.form {
	height: 230px;
	background-image: url(../images/folders.png);
	background-position: -750px -230px;
}

.form-title {
	padding: 60px 10px 10px 10px;
	text-align: center;
	color: #333;
	font-size: 14px;
}

.form .share-info {
	color: rgba(0, 0, 0, 0.3);
}

.form .icon-share {
	color: rgba(0, 0, 0, 0.3);
}

/* === Text Align === */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	text-indent: 0;
}

.text-right {
	text-align: right;
}

/* === Dialog === */

.dialog-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 100%;
}

.dialog {
	display: inline-block; 
	width: 400px;
	height: auto;
	background: #fff;
	border-radius: 8px;
	padding: 15px 20px 0 20px;
	position: relative;
	vertical-align: middle;
}

.dialog:after {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.dialog-title {
	color: #1eaaf0;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 15px;
	position: relative;
	border-bottom: #e0e0e0 solid 1px;
	padding-bottom: 10px;
	text-align: left;
}

.dialog-title span {
	line-height: 24px;
	vertical-align: bottom;
}

.dialog-title span.title {
	color: #333;
	font-size: 18px;
	font-weight: 100;
	margin-left: 10px;
	line-height: 24px;
}

.dialog .dialog-footer {
	padding-top: 15px;
	margin-top: 15px;
	border-top: #e0e0e0 solid 1px;
	text-align: center;
}

.dialog .dialog-body {
	color: #333;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dialog .dialog-close {
	position: absolute;
	display: block;
	top: 15px;
	right: 20px;
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: #1eaaf0;
	cursor: pointer;
	z-index: 1000;
}

.dialog .dialog-close:hover {
	color: #f23749;
}

.dialog p {
	margin-bottom: 1em;
}

.dialog label {
	font-size: 16px;
	display: inline-block;
	color: #1eaaf0;
	width: 50px;
	text-align: right;
	margin-right: 10px;
}

/* === Search === */

img.logo {
	display: inline-block;
	width: auto;
	height: 30px;
	cursor: pointer;
}

#header-wrapper {
	width: auto;
	margin-top: 9px;
}

.search-input {
	margin-left: 10px;
}

.search-btn {
	margin-left: 5px;
}


/* === Mask === */

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
	line-height: 100%;
	text-align: center;
	display: none;
}

.mask-close {
	display: block;
	font-size: 24px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	width: 64px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	z-index: 1000;
}

.mask-close:hover {
	color: #f23749;
}

.mask:after {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	content: '';
}

/* === Loading === */

#loading #loading-bg {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	background: url(../images/loading-bg.png) no-repeat center center;
}

#loading #loading-animation {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	background: url(../images/loading.gif) no-repeat center center;
}

/* === Oops === */

.oops {
	background: #fff url(../images/oops.png) no-repeat top center;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	margin-left: -150px;
	margin-top: -178px;
	padding-top: 310px;
	text-align: center;
}

.oops-mobile {
	background-size: 150px 140px;
	left: 50%;
	top: 50%;
	width: 150px;
	margin-left: -75px;
	margin-top: -95px;
	padding-top: 160px;
	text-align: center;
}
